<template>
    <div>
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <table class="data-table mdl-data-table">
                        <thead>
                            <tr>
                                <th style="widht: 1%">#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>user type</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
