<template>
    <!-- Modal Structure -->
    <div id="update-stage-student-modal" class="modal modal-fixed-footer" style="min-height: 85%">
        <div class="modal-content">
            <h4>Student Detailts</h4>
            <form action="#" class="form-validate" enctype="multipart/form-data" method="post">
                <div class="row center-align">
                    <image-picker id="student-image" name="image"></image-picker>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate" placeholder="Name" name="name" :value="student.name" required>
                        <label for="name">Name</label>
                        <div class="error-holder"></div>
                    </div>
                    <div class="input-field col s6">
                        <input id="dob" type="text" name="dob" class="validate datepicker" :value="student.dob" placeholder="Date of Birth" required>
                        <label for="dob">Date of Birth</label>
                        <div class="error-holder"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select name="gender" class="validate is-destroyable" required>
                                <option v-if="student.gender == 'M'" selected value="M">MALE</option>
                                <option v-else value="M">MALE</option>
                                <option v-if="student.gender == 'F'" selected value="F">FEMALE</option>
                                <option v-else value="F">FEMALE</option>
                            </select>
                            <label>Gender</label>
                            <div class="error-holder"></div>
                        </div>
                    </div>
                    <div style="margin-top: 28px" class="input-field col s6">
                        <select name="year_of_admin" class="validate" required>
                             <option :value="student.year_of_admin" selected>{{student.year_of_admin}}</option>
                            <option v-for="year in years" :key="year" :value="year">{{year}}</option>
                        </select>
                        <label for="year_of_admin ">Year of Admission</label>
                        <div class="error-holder"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="guardian_name" type="text" class="validate" :value="student.guardian_name" placeholder="Guardian Name" name="guardian_name" required>
                        <label for="guardian_name">Guardian name</label>
                        <div class="error-holder"></div>
                    </div>
                    <div class="input-field col s6">
                        <input id="guardian_contact" type="text" class="validate" :value="student.guardian_contact" placeholder="Guardian Contact" name="guardian_contact" required>
                        <label for="guardian_contact">Guardian contact</label>
                        <div class="error-holder"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            <a href="#!" class="waves-effect waves-green btn-flat">Save</a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                student: {},
                years: []
            }
        },
        mounted() {
            let app = this
            this.getYears();
            this.$root.$on("show_update_stage_student", (student) => {
                app.student = student
                $("#update-stage-student-modal").modal("open")
                 setTimeout(() => {
                     $('select').formSelect();
                 }, 100);
            })
        },
        methods: {
            getYears() {
                let today = new Date().getFullYear()
                this.years.push(today)
                for(let i = 1; i < 30; i++) {
                    this.years.push(parseInt(today) - i)
                }
            }
        }
    }
</script>