.mr {
  margin-right: .5em;
}

.mr-2 {
  margin-right: .75em;
}

.mr-3 {
  margin-right: 1em;
}

.ml {
  margin-left: .5em;
}

.ml-2 {
  margin-left: .75em;
}

.ml-3 {
  margin-left: 1em;
}


.mt {
  margin-top: .5em;
}

.mt-2 {
  margin-top: .75em;
}

.mt-3 {
  margin-top: 1em;
}

.mb {
  margin-bottom: .5em;
}

.mb-2 {
  margin-bottom: .75em;
}

.mb-3 {
  margin-bottom: 1em;
}

.pr {
  padding-right: .5em;
}

.pr-2 {
  padding-right: .75em;
}

.pr-3 {
  padding-right: 1em;
}

.pl {
  padding-left: .5em;
}

.pl-2 {
  padding-left: .75em;
}

.pl-3 {
  padding-left: 1em;
}


.pt {
  padding-top: .5em;
}

.pt-2 {
  padding-top: .75em;
}

.pt-3 {
  padding-top: 1em;
}

.pb {
  padding-bottom: .5em;
}

.pb-2 {
  padding-bottom: .75em;
}

.pb-3 {
  padding-bottom: 1em;
}

.pd-20 {
  padding:20px !important;
}

.image-circle-small {
  height: 48px;
  width: 48px;
}
