body{
  font-family: 'Roboto', sans-serif;
}
.sidenav {
  margin-top: 65px;
}

table.bordered th, table.bordered td {
  border: solid #ccc .5px;
}



header, main, footer, .content {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer, .content {
      padding-left: 0;
    }
  }

  .main-nav {
    .nav-wrapper .input-field input[type=search] {
      height: 64px;
    }
    .nav-wrapper input[type="search"]:focus {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    .input-field label {
      max-height: 64px;
    }
    .nav-wrapper input[type="search"]:focus ~ .label-icon.active {
      position: fixed;
      left: 10px;
    }
    .nav-wrapper input[type="search"]:focus ~ .closed {
      position: fixed;
      right: 10px;
    }
  }