@import "~materialize-css/dist/css/materialize.min.css";
@import "./datatable/material.min.css";
@import "./datatable/datatable.min.css";
@import "./sidenav";
@import "./helper";
@import "./breadcrum";


.content-holder {
    padding: 15px;
}

.marks-input {
  border: 1px solid #cccccc !important;
  border-radius: 5px !important;
  padding-left: 5px ;
}

.table-small {
  td, th {
    padding: 5px;
  }
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
    color: #cccccc;
  }

  .error {
    color: red;
  }

  .swal2-content .select-wrapper {
    display: none;
  }

  table.bordered th, table.bordered td {
    border: solid #ccc .5px;
  }

  //image
.image-preview{
  width: 200px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}