<template>
    <div>
       <div class="row">
            <div :class="'input-field col '+size">
                <select name="clazz_id" @change="selectClass" class="select-class" required>
                    <option value="" disabled selected>Choose class</option>
                </select>
                <label>Select Class</label>
                <div class="error-holder"></div>
            </div>
            <div v-if="streams.length > 0" :class="'input-field col '+size">
                <select name="clazz_stream_id" class="select-streams" required>
                    <option value="" disabled selected>Choose Stream</option>
                </select>
                <label>Select Stream</label>
                <div class="error-holder"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "size"
        ],
        mounted() {
            this.getClasses()
            if(this.$props.size != null) {
                this.size = this.$props.size
            }
        }, 
        data() {
            return {
                classes: [],
                streams: [],
                size: "s12"
            }
        },
        methods: {
             getClasses() {
                let app = this
                $.ajax({
                    url: app_url + "/classes",
                    success(data) {
                        app.classes = data
                        app.classes.forEach(element => {
                            $(".select-class").append($("<option />").val(element.id).text(element.name));
                        });
                        $('select').formSelect();
                    }
                })
            },
            selectClass() {
                let app = this
                app.streams = []
                $('.select-streams option').each(function() {
                    if ( $(this).val() != '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });
                let index = app.classes.findIndex(item => item.id == event.target.value);
                app.streams = app.classes[index].streams
                setTimeout(() => {
                     app.streams.forEach(element => {
                        $(".select-streams").append($("<option />").val(element.id).text(element.name));
                    });
                    $('select').formSelect();
                }, 200);
               
            }
        }
    }
</script>
