<template>
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <form class="form-validate" :action="route" method="get">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="exam-id"  name="exam_set_id" class="validate" required>
                                        <option value="" selected disabled="">Choose Exam</option>
                                        <option v-for="exam in exams" :value="exam.id">{{exam.name}}</option>
                                    </select>
                                    <label for="clazz-id">Exam set</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="term-id" name="term_id" class="validate" required>
                                        <option value="" selected disabled="">Choose Term</option>
                                        <option v-for="term in terms" :value="term.id">{{term.name}}  [{{term.start}} - {{term.end}}]</option>
                                    </select>
                                    <label for="clazz-id">Class</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select id="clazz-id" @change="onSelectClazz" name="clazz_id" class="validate" required>
                                        <option value="" selected disabled="">Choose Class</option>
                                        <option v-for="clazz in classes" :value="clazz.id">{{clazz.name}}</option>
                                    </select>
                                    <label for="clazz-id">Class</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div v-if="streams.length > 0" class="row">
                                <div class="input-field col s12">
                                    <select  id="clazz_stream_id" name="clazz_stream_id" @change="onSelectClazzStream" class="select-streams" required>
                                        <option value="" disabled selected>Choose Stream</option>
                                    </select>
                                    <label for="clazz_stream_id">Select Stream</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div v-if="subjects.length > 0" class="row">
                                <div class="input-field col s12">
                                    <select id="subject_id" name="subject_id" @change="onSubjectSelect" class="select-subjects" required>
                                        <option value="" disabled selected>Choose Subject</option>
                                    </select>
                                    <label for="subject_id">Subject</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div v-if="selectedParticulars.length > 0"  class="row">
                                <div class="input-field col s12">
                                    <select id="subject_particular_id" name="subject_particular_id" class="select-sub-pats" required>
                                        <option value="" disabled selected>Choose particular</option>
                                    </select>
                                    <label for="subject_particular_id">Subject particulars</label>
                                    <div class="error-holder"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button type="submit" class="waves-effect waves-light btn right">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "route"
        ],
        data() {
            return {
                exams: [],
                terms: [],
                classes : [],
                streams: [],
                subjects: [],
                particulars: [],
                selectedParticulars: []
            }
        },
        mounted() {
            let app = this;
            console.log(this.$props.route);
            app.init()
        },
        methods: {
            init() {
                let app = this;
                let result = new Promise(resolve => {
                    $.ajax({
                        url: app_url+ "/record-results",
                        success(data) {
                            app.classes = data.classes;
                            app.exams = data.exams;
                            app.terms = data.terms;
                            resolve();
                        }
                    });
                }).then(() => {
                    setTimeout(() => {
                        $('select').formSelect();
                    }, 500);

                });
            },
            onSelectClazz() {
                let app = this;
                let value = event.target.value;
                app.streams = [];
                app.subjects = [];
                app.particulars = [];
                app.selectedParticulars= [];
                $('.select-streams option').each(function() {
                    if ( $(this).val() !== '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });$('.select-sub-pats option').each(function() {
                    if ( $(this).val() !== '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });$('.select-subjects option').each(function() {
                    if ( $(this).val() !== '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });
                let index = app.classes.findIndex(item => item.id == value);
                app.streams = app.classes[index].streams;
                new Promise((resolve, reject) => {
                    setTimeout(() => {
                        app.streams.forEach(element => {
                            $(".select-streams").append($("<option />").val(element.id).text(element.name));
                        });
                        $('select').formSelect();
                        resolve()
                    }, 200);
                }).then(() => {
                    if(app.streams.length == 0) {
                        app.getSubjects(value, 'class')
                    }
                });

            },
            onSelectClazzStream(){
                let app = this;
                let value = event.target.value;
                app.subjects = [];
                app.particulars = [];
                app.selectedParticulars= [];
                app.getSubjects(value, 'classStream')
            },
            onSubjectSelect(){
                let app = this;
                let value = event.target.value;
                app.selectedParticulars = [];
                $('.select-sub-pats option').each(function() {
                    if ( $(this).val() !== '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });
                app.particulars[value].forEach(item => {
                    if(item.subject_particular_id != null) {
                        app.selectedParticulars.push({
                            "id" : item.subject_particular_id,
                            "name" : item.sub_pat_name,
                        })
                    }
                });

                setTimeout(() => {
                    app.selectedParticulars.forEach(element => {
                        $(".select-sub-pats").append($("<option />").val(element.id).text(element.name));
                    });
                    $('select').formSelect();
                }, 200);
            },
            getSubjects(id, type) {
                let app = this;
                let data = {
                    clazz_stream_id: id
                };
                $('.select-subjects option').each(function() {
                    if ( $(this).val() !== '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });
                if(type == 'class') {
                    data = {
                        clazz_id: id
                    }
                }
                $.ajax({
                    url: app_url + "/subjects-record-results",
                    data: data,
                    success(data) {
                        app.subjects = data.subjects;
                        app.particulars = data.particulars;
                        setTimeout(() => {
                            app.subjects.forEach(element => {
                                $(".select-subjects").append($("<option />").val(element.subject_id).text(element.sub_name));
                            });
                            $('select').formSelect();
                        }, 200);

                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>