<template>
    <div class="row">
        <div class="col s4">
             <div class="row">
            <div class="input-field col s12">
                <select @change="selectClass" class="select-class">
                    <option value="" disabled selected>Choose class</option>
                </select>
                <label>Select Class</label>
            </div>

            <div v-show="streams.length > 0" class="input-field col s12">
                <select @change="selectStream" class="select-streams">
                    <option value="" disabled selected>Choose Stream</option>
                </select>
                <label>Select Stream</label>
            </div>
            <a v-show="selected_class != null" @click="viewClassSubjects" class="waves-effect waves-light btn btn-small right">View</a>
        </div>
        </div>
            <div  class="col s7 offset-s1">
            <table class="">
                <thead>
                    <tr>
                        <th style="widht: 1%">#</th>
                        <th>Subject</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody  v-if="subjects.length > 0">
                    <template v-for="(subject, index) in subjects">
                        <tr :key="index">
                            <td>{{index+1}}</td>
                            <td>{{subject.sub_name}}
                                 <span v-if="subject.subject_particular_id!=null">{{subject.sub_pat_name}}</span>
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox" :checked="checkSubjects(subject.subject_id,subject.subject_particular_id)"
                                     :data-sub-id="subject.subject_id"
                                      :data-sub-pat-id="subject.subject_particular_id"
                                       class="filled-in teacher-subject" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="mt">
                <a v-show="subjects.length > 0" @click="saveTeacherSubjects" class="waves-effect waves-light btn btn-small right">Save</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "teacher"
        ],
        mounted() {
            this.getClasses()
            console.log(this.$props.teacher.email)
        }, 
        data() {
            return {
                selected_class: null,
                selected_stream: null,
                classes: [],
                streams: [],
                subjects: [],
                onlySubs: [],
                onlySubPats: []
            }
        },
        methods: {
             getClasses() {
                let app = this
                $.ajax({
                    url: app_url + "/classes",
                    success(data) {
                        app.classes = data
                        app.classes.forEach(element => {
                            $(".select-class").append($("<option />").val(element.id).text(element.name));
                        });
                        $('select').formSelect();
                    }
                })
            },
            selectClass() {
                let app = this
                app.streams = []
                app.selected_stream = null
                $('.select-streams option').each(function() {
                    if ( $(this).val() != '' ) {
                        $(this).remove();
                    }else {
                        $(this).prop('selected', true)
                    }
                });
                let index = app.classes.findIndex(item => item.id == event.target.value);
                app.selected_class = event.target.value
                app.streams = app.classes[index].streams
                app.streams.forEach(element => {
                     $(".select-streams").append($("<option />").val(element.id).text(element.name));
                });
                $('select').formSelect();
            },
            selectStream() {
                let app = this
                app.selected_stream = event.target.value
            },
            viewClassSubjects() {
                let app = this
                if(app.streams.length > 0 && app.selected_stream == null) {
                    swal.fire({
                        type: 'error',
                        text: 'Please Select a stream'
                    })
                    return;
                }
                $('input:checkbox').prop('checked',false);
                app.subjects = []
                app.onlySubs = []
                app.onlySubPats = []
                $.ajax({
                    url: app_url + "/teacher-get-class-subjects",
                    data: {
                        "user_id": app.$props.teacher.id,
                        "clazz_id" : app.selected_class,
                        "clazz_stream_id": app.selected_stream
                    },
                    success(data) {
                        setTimeout(() => {
                            app.subjects = data.subjects
                            app.onlySubs = data.onlySubs
                            app.onlySubPats = data.onlySubPats
                        }, 100);
                        
                    }
                })
            },
            checkSubjects(sub_id, sub_pat_id) {
                if(sub_pat_id == null && this.onlySubs.includes(sub_id)) {
                    return true;
                }

                if(this.onlySubPats.includes(sub_pat_id) && this.onlySubs.includes(sub_id)) {
                    return true;
                }

                return false;
            },
            saveTeacherSubjects() {
               let app = this
               let teacherSubjects = []
               $('.teacher-subject').each((index, item) => {
                if ($(item).is(":checked")) {
                        let subject = $(item).data("sub-id")
                        let subjectPat = $(item).data("sub-pat-id")
                        let subjectObj = {
                            "user_id" : app.$props.teacher.id,
                            "clazz_id": app.selected_class,
                            "clazz_stream_id": app.selected_stream,
                            "subject_id": subject,
                            "subject_particular_id": subjectPat
                        }
                        teacherSubjects.push(subjectObj)
                    }
                })

                if(teacherSubjects.length > 0) {
                    $.ajax({
                        url: app_url+ "/teacher-save-subjects",
                        data: {
                            "user_id" : app.$props.teacher.id,
                            "clazz_id": app.selected_class,
                            "clazz_stream_id": app.selected_stream,
                            "subjects" : teacherSubjects
                        },
                        success(data) {
                            swal.fire({
                                type: 'success',
                                text: 'Subjects have been assigned to: '+app.$props.teacher.name
                            })
                        }
                    })
                }

            }
        }
    }
</script>
